@model IEnumerable<Library.Models.Transaction>

@{
    ViewData["Title"] = "GetActiveTransactions";
}

<div class="h">
    <h1>List of Active Transactions</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borrower.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Borrower.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                    <a href="@Url.Action("Edit", new {  transactionId = item.TransactionId })" class="btn btn-primary btn-sm me-2" title="Edit">

                        <span class="rounded-circle d-inline-block px-1 py-0.5 bg-light">✏️</span>    <!-- Pencil icon -->

                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" class="others">Back to List</a>
</div>