@model Library.Models.Book
@{
    ViewData["Title"] = "BorrowBook";
    var message = ViewBag.Message;
    bool status = ViewBag.Status;
}

@if (status)
{
    <div class="h">
        <h1>Borrowed Book Successfully.</h1>
    </div>
}
else
{
    <div class="h">
        <h1>Borrowing Book Failed.</h1>
    </div>
    <div class="h">
        <h2>@message</h2>
    </div>
}
<div class="hd">
    <h4>Book Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class="col-sm-10">
            @{
                string temp = Model.PublicationYear.ToString("yyyy");
            }

            @temp
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class = "others" >Back to List</a>
</div>