@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<div class="h">
    <h1>List of Books</h1>
</div>
<br />

<div style="float: left;">
    <a asp-action="Create" class="others">Add New Book</a>
</div>

<div style="float: right;">
    <a asp-action="GetByBorrowedBooks" class="others">Borrowed Books</a>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityAvailable)
            </th>
            <th></th>
            <th></th>
            <th>Get Books By</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                    @{
                        string temp = item.PublicationYear.ToString("yyyy");
                    }
                
                @temp
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityAvailable)
            </td>
            <td>
                    @Html.ActionLink("Borrow", "BorrowBook", new { bookId = item.BookId }, new { @class = "borrow" }) <br />
                    <br />

                    @{
                        //Html.ActionLink("Return", "ReturnBook", new { bookId = item.BookId }, new { @class = "return" })<br />
                    }
            </td>
            <td>
                    <a href="@Url.Action("Details", new {  bookId = item.BookId })" class="btn btn-info btn-sm me-2" title="Details">

                        <span class="rounded-circle d-inline-block px-2 py-0.5 bg-light">ℹ️ </span> <!-- Information icon -->

                    </a>
                    <br /><br />
                    <a href="@Url.Action("Edit", new {  bookId = item.BookId })" class="btn btn-primary btn-sm me-2" title="Edit">

                        <span class="rounded-circle d-inline-block px-1 py-0.5 bg-light">✏️</span>    <!-- Pencil icon -->

                    </a>
                    <br /><br />
                    <a href="@Url.Action("Delete", new {  bookId = item.BookId })" class="btn btn-danger btn-sm" title="Delete">

                        <span class="rounded-circle d-inline-block px-1 py-0.5 bg-light">🗑️</span>  <!-- Trash icon -->

                    </a>
            </td>
            <td>
                    @Html.ActionLink("Author", "GetByAuthor", new { author = item.AuthorName }, new { @class = "others" })
                    <br /> <br />
                    @Html.ActionLink("PublicationYear", "GetByPublicationYear", new { publicationYear = item.PublicationYear }, new { @class = "others" })
                    <br /> <br />
                    @Html.ActionLink("Genre", "GetByGenre", new { genre = item.Genre }, new { @class = "others" })
            </td>
        </tr>
}
    </tbody>
</table>